.downloadButton {
    background-color:#D9E7E1;
	cursor:pointer;
	color:#424343;
    font-size: larger;
    width: 18rem;
    text-align: center;
    padding: 1rem 3rem;
}

.downloadButton a {
    height: auto;
}

.downloadButton li {
    margin-bottom: 10rem;
}

.downloadButton:hover {
    background: #becdc7;
}
