.downloadButton {
    background-color:#44cea4;
	cursor:pointer;
	color:#424343;
    font-size: larger;
    padding: 1rem 3rem;
}

.downloadButton a {
    height: auto;
}

.downloadButton li {
    margin-bottom: 10rem;
}

.downloadButton

.downloadButton:hover {
    background: #4cecbcbb;
}
